.section__product{
    max-width: 1210px;
    margin: 30px auto 60px auto;
}
.section__product .load-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.load-more{
    font-size: 16px;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}
.load-more:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}
